/* @media screen and (min-width: 768){
    .videocontainer{
        flex-direction: row;
    }
} */

.categorycontainer{
    padding-top: 100px;
    display: flex;
}
.currentmenu{
    margin-left: 1rem;
    border: 1px solid black;
    
}
@media screen and (min-width: 769px){
    .videocontainer{
        margin-left: 1rem;
        margin-right: 1rem;
        align-items: flex-start;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 3rem;
    }
} 