.imgcontainer{
   width: 100%;
}
.img{
    width: 100%;
}


@media screen and (min-width: 769px){
    .allvideocontainer{
        width: 100%;
     }
     
} 
 

/* @media screen and (min-width: 480px)and(max-width:768px){ 
    .imgcontainer{
       width: 100%;
    }
    .img{
        width: 100%;
    }
    }
    @media screen and (min-width: 769px){
        .imgcontainer{
            width: 30%;
         }
         .img{
             width: 30%;
         }
    } */